<!-- Admin Editor  -->
<!-- Last Importance -->

<%- include("partials/header"); -%>
    <link rel="stylesheet" href="admin.css">
    <section class="admin">
        <h2>
            Administrator
        </h2>
        <div class="table">
            <a href="/admin">Truck Status</a> <br>
            <a href="/admin-dashboard">Dashboard</a>
        </div>
    </section>
    
    <%- include("partials/footer"); -%>